VITE_SUPABASE_URL=https://mjybxguarymdwffdakzq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qeWJ4Z3VhcnltZHdmZmRha3pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcxMjIyMTUsImV4cCI6MjA4MjY5ODIxNX0.2JA-ycrvT3GsgGsCVGB1IyF6fogvNdRA8D_H6MgDmYU
